@import './colors';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

body{

    background-color: #333;
    overflow-x: hidden;
}

nav{
    background-color: $nav-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 2em;
    position: relative;
}

.logo{
    margin-left: 2em;
    font-size: 1.8rem;
    color: #fff;
}

.blue-text{
    color: $main-color;
    transition: color .3s;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 55%;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    position: relative;
    transition: color 0.3s;
}

a:hover{
    color: $main-color;
}

a::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 5px;
    width: 0;
    border-radius: 8px;
    background-color: $main-color;
    transition: .3s;
}

a:hover::after{
    width: 100%;
}

.burger{
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.line{
    width: 3em;
    height: 0.3em;
    background-color: $main-color;
    margin: 0.6em;
    border-radius: 20px;
}


header{
    position: relative;
    height: 90vh;
    background-image: url("../img/index-background-mini.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    z-index: 0;
    
    h1{
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    p{
        font-size: 25px;
    }

    .shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0, 0.8);
        z-index: -10;
    }
    
    .header-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
}

//media

@media (min-width: 320px){
    header{
        h1, p{
            text-align: center;
            padding: 0 10px;
        }
    }
}

@media (max-width: 768px){
    ul{
        width: 100%;
    }
}

@media (min-width: 992px){
    header{
        background-image: url("../img/index-background-big.jpg");
    }
}

@media (max-width: 992px){
    .burger{
        display: block;
        
        .line{
            transition: transform .3s;
        }
    }

    ul{
        position: absolute;
        right: 0;
        top: 10vh;
        background-color: $nav-color;
        height: 90vh;
        flex-direction: column;
        text-align: center;
        transform: translateX(100%);
        transition: transform .3s;
        z-index: 5;
    }
    
    .active{
        //ul styling
        transform: translate(0%);

        //burger icon styling
        .line:nth-child(1){
            transform: translateY(-300px);
        }
        .line:nth-child(2){
            transform: rotate(-405deg) translateY(7px);
        }
        .line:nth-child(3){
            transform: rotate(-320deg) translateY(-10px);
        }
    }
    
}
