* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}

nav {
  background-color: rgb(44, 43, 43);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 2em;
  position: relative;
}

.logo {
  margin-left: 2em;
  font-size: 1.8rem;
  color: #fff;
}

.blue-text {
  color: rgb(65, 105, 225);
  transition: color 0.3s;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 55%;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  position: relative;
  transition: color 0.3s;
}

a:hover {
  color: rgb(65, 105, 225);
}

a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 5px;
  width: 0;
  border-radius: 8px;
  background-color: rgb(65, 105, 225);
  transition: 0.3s;
}

a:hover::after {
  width: 100%;
}

.burger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.line {
  width: 3em;
  height: 0.3em;
  background-color: rgb(65, 105, 225);
  margin: 0.6em;
  border-radius: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.login .wrapper {
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
}
.login h1 {
  margin-bottom: 20px;
  text-align: center;
}
.login form {
  font-size: 20px;
}
.login .form-box {
  margin-bottom: 30px;
}
.login label {
  display: block;
  margin-bottom: 5px;
}
.login input {
  width: 100%;
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  margin-bottom: 5px;
}
.login .error-text {
  color: rgb(236, 38, 38);
  font-size: 20px;
}
.login .control-buttons {
  display: flex;
  justify-content: center;
}
.login .login-btn {
  padding: 10px 20px;
  background-color: rgb(65, 105, 225);
  color: #fff;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login .login-btn:hover {
  background-color: rgb(1, 62, 160);
}
.login .send-error {
  text-align: center;
  margin-top: 10px;
  color: rgb(236, 38, 38);
}
.login .input-correct {
  border: 1px solid rgb(31, 170, 31);
  background-color: rgba(31, 170, 31, 0.4);
}
.login .input-incorrect {
  border: 1px solid rgb(221, 6, 6);
  background-color: rgba(221, 6, 6, 0.4);
}

@media (max-width: 992px) {
  .burger {
    display: block;
  }
  .burger .line {
    transition: transform 0.3s;
  }
  ul {
    position: absolute;
    right: 0;
    top: 10vh;
    background-color: #333;
    height: 90vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
    transition: transform 0.3s ease-in-out;
  }
  .active {
    transform: translate(0%);
  }
  .active .line:nth-child(1) {
    transform: translateY(-300px);
  }
  .active .line:nth-child(2) {
    transform: rotate(-405deg) translateY(7px);
  }
  .active .line:nth-child(3) {
    transform: rotate(-320deg) translateY(-10px);
  }
}
@media (max-width: 768px) {
  ul {
    width: 100%;
  }
}/*# sourceMappingURL=login.css.map */