@import "../sass/colors";

nav {
	background-color: $nav-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 2em;
	position: relative;
}

.logo {
	margin-left: 2em;
	font-size: 1.8rem;
	color: #fff;
}

.blue-text {
	color: $main-color;
	transition: color 0.3s;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	width: 55%;
}

a {
	text-decoration: none;
	font-size: 1.8rem;
	color: #fff;
	position: relative;
	transition: color 0.3s;
}

a:hover {
	color: $main-color;
}

a::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 5px;
	width: 0;
	border-radius: 8px;
	background-color: $main-color;
	transition: 0.3s;
}

a:hover::after {
	width: 100%;
}

.burger {
	background: transparent;
	border: none;
	cursor: pointer;
	display: none;
}

.line {
	width: 3em;
	height: 0.3em;
	background-color: $main-color;
	margin: 0.6em;
	border-radius: 20px;
}

//media

@media (max-width: 992px) {
	.burger {
		display: block;

		.line {
			transition: transform 0.3s;
		}
	}

	ul {
		position: absolute;
		right: 0;
		top: 10vh;
		background-color: #333;
		height: 90vh;
		flex-direction: column;
		text-align: center;
		opacity: 0;
		transform: translateX(100%);
		transition: transform 0.3s, opacity 0.3s;
		z-index: 5;
	}

	.active {
		//ul styling
		transform: translateX(0%);
		opacity: 1;

		//burger icon styling
		.line:nth-child(1) {
			transform: translateY(-300px);
		}
		.line:nth-child(2) {
			transform: rotate(-405deg) translateY(7px);
		}
		.line:nth-child(3) {
			transform: rotate(-320deg) translateY(-10px);
		}
	}
}

@media (max-width: 768px) {
	ul {
		width: 100%;
	}
}
